/* ========================================
   PRESET ITEM (PresetItem.jsx)
========================================= */
.preset-item {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 14px;
  padding: 15px 12px;

  display: flex;
  align-items: center;

  box-shadow: 0 2px 5px rgba(100, 120, 90, 0.12);
  transition: 0.25s ease;
}

/* hover 효과 */
.preset-item:hover {
  background: rgba(255, 255, 255, 0.75);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(80, 100, 80, 0.2);
}

.preset-item-main {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.preset-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preset-label {
  font-size: 13px;
  font-weight: 600;
  color: #33412c;
}

.preset-value {
  font-size: 13px;
  font-weight: 500;
  color: #526244;
  padding-right: 10px;
}
.preset-texts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
