/* ToastAlert.css */

.toast-alert {
  position: relative;
  /* width: 260px; */
  padding: 5px 15px;
  border-radius: 14px;
  display: inline-flex;
  justify-content: space-between;
  text-align: start;
  gap: 5px;
  box-shadow: 0 8px 20px #00000026;
  animation: slideIn 0.35s ease forwards;
  color: white;

  inline-size: max-content; /* 🔥 핵심 */
  max-inline-size: 500px; /* 너무 길어지는 것 방지 */
  min-inline-size: 180px;
  background: #76a74f;
}

/* 색상 테마 */
.toast-sensor {
  background: #76a74f;
}

.toast-water {
  background: #3fa9f5;
}

.toast-light {
  background: #f1c40f;
  color: #4a3c00;
}

.toast-error {
  background: #e74c3c;
}

/* 내용 */
.toast-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 13px;
}

.toast-title {
  font-size: 14px;
  font-weight: 700;
}

.toast-message {
  font-size: 12px;
  opacity: 0.9;
}

/* close button */
.toast-close {
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.9;
  padding-left: 18px;
}

.toast-close:hover {
  opacity: 1;
}

/* 등장 애니메이션 */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(40px) translateY(0);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
