.login-wrapper {
  padding-top: 100px;
  text-align: center;
}

.login-form {
  width: 300px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 12px;
  padding: 12px;
  font-size: 14px;
}

.login-form button {
  padding: 12px;
  background: #0071e3;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-form button:hover {
  background: #005bb5;
}
